@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #fafafa;
    color: #333;
}

main {
    max-width: 800px;
    margin: 40px auto;
}

header {
    text-align: center;
    background-color: #141414a4;
    color: #9b9b9b;
    padding: 30px 0;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    color: #f8731ab0;
}

section {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section > h2 {
    margin-bottom: 30px;
}

section > p {
    line-height: 1.6;
}

section > ul {
    margin-left: 10px;
    line-height: 1.6;
}

footer {
    background-color: #0000006e;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    font-size: 12px;
}

@media (max-width: 600px) {

    header {
        padding: 20px 0;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    main {
        margin: 20px auto;
        padding: 0 10px;
    }

    section {
        padding: 15px;
    }

    footer {
        font-size: 11px;
    }
}