@charset "UTF-8";

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    font-size: 20px;
    background-color: #f2f2f2;
    padding: 20px;
}

section {
    padding: 20px;
}

section > h2 {
    margin-bottom: 10px;
}

section > p {
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 15px;
    font-size: 10px;
    background-color: #f2f2f2;
}